body
{   
    background-color: rgb(88, 87, 87);
}

.info-box
{
    color: lightblue;
    width: 50%;
    margin: 0 auto;
    padding: 20px; 
    border: 2px solid white;
    background-color: rgb(54, 54, 54);
    font-size: large;
    
}

.title
{
    font-size: xx-large;
    color: lightblue;
    width: 85%;
    border: 2px solid white;
    padding: 10px;
}

.para
{           
    color: lightblue;
    border: 2px solid white;
    padding: 10px;
}

.form
{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid white;
    color: lightblue;
    background-color: rgb(54, 54, 54);
}


.leg{
    font-size: x-large;
    color: lightblue;
    border: 2px solid white;
  }

.field
{
    border: 2px solid white;
}

.sub
{
    font-size: large;
    color: lightblue;
    border: 2px solid white;
    background-color: rgb(54, 54, 54);
}

.big-box
{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-size: xx-large;
    color: lightblue;
    border: 2px solid white;
    background-color: rgb(54, 54, 54);
}

.abt
{   width: 30%;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    font-size: large;
    border: 2px solid white;
    background-color: rgb(54, 54, 54);
}

.abt > a
{
    color: lightblue;
}

@media only screen and (max-width: 768px) 
{
    .info-box { width: 80% ;}
    .form { width: 80%; }
    .big-box { width: 80%; }
}