{% from 'macros.html' import form_field_group_macro %}

<!DOCTYPE html>
<html>
    <head>
        <title>Create</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    
    <body>
        <div class="big-box">
            Practical File Template Creator
        </div><br><br>
        <form method="POST" class="form">
            {{ form.hidden_tag() }}
            <div>
                <fieldset class="field">
                    <legend class="leg">Number of Experiments</legend>
                    {{ form_field_group_macro(field=form.exp_num) }}
                </fieldset><br><br>

                <fieldset class="field">
                    <legend class="leg">Aim of the Experiment</legend>
                    
                    {{ form_field_group_macro(field=form.aim_font) }}<br><br>
                    {{ form_field_group_macro(field=form.aim_size) }}<br><br>
                    {{ form_field_group_macro(field=form.aim_alignment) }}
                    {{ form_field_group_macro(field=form.aim_bold) }}
                    {{ form_field_group_macro(field=form.aim_italics) }}
                    {{ form_field_group_macro(field=form.aim_underline) }}<br><br>

                </fieldset><br><br>

                <fieldset class="field">
                    <legend class="leg">The Word CODE</legend>

                    {{ form_field_group_macro(field=form.word_code_font) }}<br><br>
                    {{ form_field_group_macro(field=form.word_code_size) }}<br><br>
                    {{ form_field_group_macro(field=form.word_code_alignment) }}
                    {{ form_field_group_macro(field=form.word_code_bold) }}
                    {{ form_field_group_macro(field=form.word_code_italics) }}
                    {{ form_field_group_macro(field=form.word_code_underline) }}<br><br>
                
                </fieldset><br><br>
            
                <fieldset class="field">
                    <legend class="leg">Code</legend>

                    {{ form_field_group_macro(field=form.code_font) }}<br><br>
                    {{ form_field_group_macro(field=form.code_size) }}<br><br>
                    {{ form_field_group_macro(field=form.code_alignment) }}
                    {{ form_field_group_macro(field=form.code_bold) }}
                    {{ form_field_group_macro(field=form.code_italics) }}
                    {{ form_field_group_macro(field=form.code_underline) }}<br><br>

                </fieldset><br><br>

                <fieldset class="field">
                    <legend class="leg">The Word OUTPUT</legend>

                    {{ form_field_group_macro(field=form.word_output_font) }}<br><br>
                    {{ form_field_group_macro(field=form.word_output_size) }}<br><br>
                    {{ form_field_group_macro(field=form.word_output_alignment) }}
                    {{ form_field_group_macro(field=form.word_output_bold) }}
                    {{ form_field_group_macro(field=form.word_output_italics) }}
                    {{ form_field_group_macro(field=form.word_output_underline) }}<br><br>

                </fieldset><br><br>
                    
            </div>
            <br>
            {{ form.submit(class="sub") }}
        </form>
        <br><br>
       <div class="abt"abt><a  href="{{ url_for('about') }}"> About </a></div>
    </body>

</html>